<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Book</title>
</head>
<body>

<h1>Add Book</h1>

<form th:action="@{/add}" th:object="${createBookDTO}" method="post">
    Title: <input type="text" th:field="*{title}" required/>
    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>

    Description: <input type="text" th:field="*{description}" required/>
    <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>

    Release Date: <input type="date" th:field="*{releaseDate}" required/>
    <p th:if="${#fields.hasErrors('releaseDate')}" th:errors="*{releaseDate}"></p>

    Author: <input type="text" th:field="*{author}" required/>
    <p th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></p>

    ISBN: <input type="text" th:field="*{isbn}" required/>
    <p th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}"></p>

    <button type="submit">Save</button>
</form>

<a th:href="@{/}">Back to list</a>
</body>
</html>