<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Book</title>
</head>
<body>
<h1>Edit Book</h1>

<form th:action="@{'/update/' + ${updateBookDTO.id}}" th:object="${updateBookDTO}" method="post">
    <input type="hidden" th:field="*{id}" />
    <label>Title:</label>
    <input type="text" th:field="*{title}" required/>
    <br/>
    <label>Description:</label>
    <input type="text" th:field="*{description}" required/>
    <br/>
    <label>Release Date:</label>
    <input type="date" th:field="*{releaseDate}" required/>
    <br/>
    <label>Author:</label>
    <input type="text" th:field="*{author}" required/>
    <br/>
    <label>ISBN:</label>
    <input type="text" th:field="*{isbn}" required/>
    <br/>
    <button type="submit">Update Book</button>
</form>

<a href="/" >Back to list</a>
</body>
</html>